body {
  background-color: rgb(242, 244, 250);
  color: royalblue;
  font-family: 'Helvetica', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

main {
  background: none;
  display: initial!important;
}

.birch-header {
  font-family: 'Times New Roman', serif;
  font-size: 1.2rem;
}

/* =====================
=== weather and news ===
===================== */
.weather {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.news {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 10px;
  width: 60%;
  height: 40%;
  overflow: scroll;
  padding: 0.5rem;
  border: 2px solid rgb(96, 76, 32, 0.8);
  margin-top: 30px;
  resize: both; 
}

.news-header {
  font-weight: bold;
}

.park-updates {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

/* impotant bits */
.chat {
  z-index: 111;
  background-color: rgb(235, 239, 252);
  border-radius: 50%;
  border: rgb(228, 228, 250) 2px dashed;
}

.weather, .birch-header {
  z-index: 111;
  background-color: rgb(242, 244, 250);
  border-radius: 50%;
}

.tree {
  position: absolute;
  z-index: 222;
}

/* =============
=== the chat ===
============= */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 10vh; */
  width: 100%;
}

.fresh-air {
  font-style: normal;
  font-family: 'Times New Roman', serif;
  font-size: 2rem;
  letter-spacing: -2.5px;
  color: royalblue;
}

.chat {
  width: 60%;
  padding: 1rem;
  font-size: 0.9rem;
}

.chat-header {
  width: 100%;
  /* border-bottom: 1px solid rgb(27, 94, 73); */
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.messages {
  height: 50vh;
  /* border-bottom: 1px solid rgb(27, 94, 73); */
  margin-bottom: 1rem;
  overflow-y: scroll;
  overflow-x: auto;
  /*scroll-behavior: smooth;
  resize: both; */
  padding-bottom: 15px;
}

.messages::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* the individual messages */
.messages > p {
  justify-content: start;
  display: grid;
  grid-template-columns: 1rem 1fr;
  grid-gap: 0.5rem;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.avatar {
  width: 1rem;
  height: 1rem;
  background-color: forestgreen;
  border-radius: 10%;
}

.messages > p > *:last-child {
  display: inline;
  overflow-wrap: break-word;
  max-width: 56vw;

  width: auto;
}

/* form to upload a message */
form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

fieldset {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

input, button {
  border:rgb(114, 102, 86) 1px solid;
  background-color: rgb(242, 244, 250);
  color: rgb(114, 102, 86);
  border-radius: 5px;
  outline: none;
  /* caret-color: floralwhite; */
}

fieldset > input {
  resize: both;
}

button {
  cursor: pointer;
}

/* ===========
=== mobile ===
=========== */
@media(max-width: 535px) {

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .chat {
    margin-top: 3rem;
  }

  .messages {
    height: 30vh;
  }

  input {
    margin-bottom: 10px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 4rem;
  font-size: 0.8rem;
  color: rgb(114, 102, 86);
}

footer a {
  color: rgb(91, 81, 69);
}
